@import "tailwindcss";

@theme {
  --color-black: #050505;
  --color-white: #f5f5f5;
  --font-display: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;
}

/* Custom base styles */
body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #eab308;
  /* yellow-500 */
  color: black;
}